body {
	font:75%/140% Verdana, Arial, Helvetica, sans-serif;
	background:#eee url(../img/bgBody.png) repeat-y center;
	color:#000;
	margin:0;
}
/* Headings */

h1 {
	font-size:133.3%;
	font-weight:700;
}
h2 {
	font-size:116.7%;
	font-weight:700;
}
h3 {
	font-size:100%;
	font-weight:700;
}
/* text */
blockquote {
	margin:1em 2.5em;
}
/* Forms */


input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:100%;
}
input[type=text] {
	border:solid 1px #999;
}
input[type=submit] {
	background-color:#82CEE5;
	border:1px outset #82CEE5;
	font-weight:700;
}
input[type=submit]:hover {
	background-color:#ADDEEE;
	border:1px outset #ADDEEE;
}
input[type=submit]:active {
	background-color:#00ADD3;
	border:1px inset #00ADD3;
}
/* table */
table {
	border-collapse:collapse;
	border:1px solid #ccc;
	font-size:91.6%;
	width:100%;
	margin:1em 0;
}
td, th, caption {
	padding:.25em;
}
th {
	background-color:#ccc;
	border:1px solid #fff;
}
td {
	border-top:1px solid #ccc;
	border-right:none;
	border-bottom:1px solid #ccc;
	border-left:none;
}
/* value and units for centering tables of numbers, ns = no space e.g. % or planar angle */
.value, .value-ns {
	border-right:none;
	text-align:right;
	white-space:nowrap;
}
.value {
	padding-right:.128em;
}
.value-ns {
	padding-right:0;
}
.unit, .unit-ns {
	border-left:none;
	padding-left:.128em;
	text-align:left;
	white-space:nowrap;
}
.unit {
	padding-left:.128em;
}
.unit-ns {
	padding-left:0;
}
caption {
	color:#FFF;
	background:#777;
}
/* lists */
ul, ol {
	padding-left:2.5em;
}
p + ul, p + ol {
	margin-top:-1em;
}
dt {
	font-weight:700;
}
/* links */
a:link {
	color:#009;
}
a:visited {
	color:#909;
}
a:active {
	color:#900;
}
#content li a:link, #content li a:visited {
	font-weight:700;
	text-decoration:none;
}
a img {
	border:none;
}
#breadcrumb {
	background:#eee;
	overflow:hidden;
}
#breadcrumb p {
	color:#666;
	margin:5px;
}
#breadcrumb a:link, #breadcrumb a:visited {
	text-decoration:none;
}
fieldset {
	border:0;
	margin:0;
	padding:0;
}
#sizer, #footerlogoBar, #footer {
	max-width:980px;
	margin:auto;
}
#sizer {
	background:#fff;
	color:#000;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	padding:10px;
}
#skip {
	position:absolute;
	left:-9999px;
	font-size:1em;
	background:#fff;
	padding:.5em;
}
#skip:focus, #skip:active {
	left:5px;
}
header {
	background:#777;
}
header .logoBar {
	background:#222 url(../img/bgTileDiagonalLines.png) 0 0 repeat;
	border:0;
	border-bottom:1px solid #fff;
	clear:both;
	overflow:hidden;
	margin:0;
}
header .logoBar form {
	display:inline;
	float:right;
	margin:15px 10px 0 0;
}
header .logoBar #searchInput {
	background:#fff;
	border:0;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	color:#999;
	float:left;
	height:25px;
	line-height:25px;
	width:15em;
	margin:0;
	padding:0 5px;
}
header .logoBar #searchInput:focus {
	color:#000;
}
header .logoBar .button {
	background:#fff url(../img/magnifyGlass.png) 50% 50% no-repeat;
	border:0;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
	float:left;
	text-indent:-9999px;
	height:25px;
	width:30px;
}
header .logoBar .button:hover {
	background:#fff url(../img/magnifyGlass.png) 50% 50% no-repeat;
}
.moNavTabs {
	float:left;
	min-height:26px;
	margin:.65em 0 0 10px;
}
.moNavTabs ul {
	list-style:none;
	margin:0;
	padding:0;
}
.moNavTabs li {
	background:#434b83 url(../img/bgTileHighlight.png) 0 0 repeat-x;
	border-top:1px solid #434b83;
	border-left:1px solid #434b83;
	border-right:1px solid #434b83;
	cursor:pointer;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	color:#fff;
	float:left;
	font-weight:700;
	line-height:25px;
	min-width:100px;
	text-align:center;
	text-shadow:rgba(0,0,0,.5) 1px 1px;
	margin:0 3px 0 0;
	padding:0 10px;
}
.moNavTabs li:hover {
	background:#545fa5 url(../img/bgTileHighlight.png) 0 0 repeat-x;
	border-top:1px solid #545fa5;
	border-left:1px solid #545fa5;
	border-right:1px solid #545fa5;
	color:#fff;
}
.moNavTabs li.active {
	background-color:#222;
}
.moNavTabs li.active, .moNavTabs li.active:hover {
	background:url(../img/bgTileDiagonalLines.png) 1px 0 repeat, url(../img/bgTileHighlight.png) 0 0 repeat-x #222;
	border-top:1px solid #1a1a1a;
	border-left:1px solid #222;
	border-right:1px solid #1a1a1a;
	text-shadow:rgba(0,0,0,.5) 1px 1px;
	margin-top:-2px;
	padding-bottom:2px;
}
.moNavTabs a, .moNavTabs a:hover {
	background:0;
	color:#fff;
	display:block;
	font-weight:700;
	text-decoration:none;
	padding:0;
}
#content {
	overflow:hidden;
	background:#fff;
	color:#000;
	padding:10px 0;
}
#footerlogoBar {
	background-color:#222;
	color:#fff;
	overflow:hidden;
	clear:both;
	margin:1px auto;
}
footer {
	clear:both;
}
#footerContents {
	color:#fff;
	background:#777;
	overflow:hidden;
	padding:10px 0;
}
#footerContents a {
	color:#fff;
	text-decoration:none;
	display:block;
	float:left;
	padding:0 10px;
}
#footerContents ul {
	list-style:none;
	display:block;
	margin:0;
	padding:0;
}
#footerRight {
	float:right;
}
#footerLeft li, #footerRight li {
	float:left;
	border-left:solid 1px #fff;
}
#footerRight li.first, #footerLeft li.first {
	border-left:none;
}
hgroup {
	background:#eee;
}
hgroup h1 {
	background:#bbb;
	width:50%;
	margin:0;
	padding:5px;
}
hgroup h2 {
	font-size:1em;
	font-weight:400;
	margin:0;
	padding:5px;
}
#pageLang {
	background-color:#eee;
	border:1px solid #ccc;
	clear:both;
	padding:5px;
}
#langContainer {
	padding-top:.5em;
}
#langContainer a {
	margin-right:1em;
}
#content, #content article {
	overflow:hidden;
}
hgroup, #main {
	float:left;
	width:660px;
}
#second {
	float:left;
	width:310px;
	margin:0 0 10px 10px;
}
#content li a:link:hover, #content li a:visited:hover, #breadcrumb a:hover, #footerContents a:hover, #footerContents a:focus {
	text-decoration:underline;
}
header h1, header .logoBar label {
	display:none;
}
#footerLeft, #topLogo, #footerLogo {
	float:left;
}
